<div class="login-box">
  <div class="row login-logo">
    <h2>Log in</h2>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.label :email %><br />
        <%= f.email_field :email, :class=>"form-control" ,:placeholder=>"Email" , autofocus: true , :required=>true , :value=> 'astm@astm.com' %>
        <span class="fa fa-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.label :password %><br />
        <%= f.password_field :password,  :class=>"form-control" , :placeholder=>"Password" , autocomplete: "off" , :required=>true, :value=> "123456" %>
        <span class="fa fa-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <% end -%>
          </div>
        </div><!-- /.col -->
        <div class="col-xs-4">
          <%= f.submit "Sign In", :class=>"btn btn-primary btn-block btn-flat " %>
          <!-- <% render "devise/shared/links" %> -->
        </div><!-- /.col -->
      </div>
    <% end %>
  </div><!-- /.login-box-body -->
</div>
